*.class
*.iml
*.jar
*.log
*.py[cod]
*.sublime-project
*.sublime-workspace
*.swn
*.swo
*.swp
*~
.DS_STORE
*.app
*.avi
*.exe
*.flv
*.mov
*.mp4
*.tiff
*.war
*.wmv
.idea
.module-cache
.vscode
babel.config.js
tsconfig.json
assets
node_modules
/index.html
TEST*.xml
Thumbs.db